// .home{
//     // margin-top: 5rem;
//     // height: 50vh;
//     // min-height: 40rem;
//     // max-height: 50rem;
//     // position: relative;
//     // height: 28rem;  
// }
// @media only screen and (max-width: 37.5em) {
//     .home {
//       height: unset;
//       min-height: unset;
//     }
//   }

// .home_content{
//     position: absolute;
//     top: 10%;
//     left: 20%;
//     // transform: translate(-50%, -50%);
//     max-width: 70rem;
//     width: 92%;
// }
// @media only screen and (max-width: 37.5em) {
//     .home_content {
//       padding: 19rem 0 13rem 0;
//       margin: auto;
//       position: static;
//       transform: translate(0, 0);
//     }
//   }

.home_content{
    align-items: center;
    border: solid rgb(240, 238, 238);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
    width: max-content;
    
}

  .home_ava{
    width: 17rem;
    height: 20rem;
    
  }

  @media(min-width: 900px){
    .home{
      height: 28rem;
    }
    .home_content{
        display: flex;
        margin-top: 17rem;
        margin-left: 27rem;
    }


  }
  @media(max-width: 899px){
    .home_ava{
      width: 8rem;
      height: 11rem;
      
    }
    .home_content{
      display: flex;
      margin-top: 5rem;
      // margin-left: 2rem;
  }
  }

  .home_info {
    max-width: 30rem;
  }

    .home_name{
        color: #0062b9;
        
    }

   .home_hello{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
   }

   h2{
    margin-bottom: 1rem;
    margin-left: 7rem;
   }

   .home_info-desc{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    margin-bottom: 0.5rem;
   }

   .home_info-desc-img{
    width: 1.5rem;
   }

   .home_info-desc-text{
    font-size: 1.1rem;
   }

   .home_info-text{
    font-family: 'Marcellus';
    margin-top: 1.5rem;
    
   }

   h4{
    color: #0062b9;
    margin-left: 20rem;
   }


  .home-hero__cta {
    margin-top: 5rem;
    text-align: center;
  }

.home-hero__socials {
    // position: relative;
    width: 5rem;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    transform: translateY(-130%);
  }
  @media only screen and (max-width: 56.25em) {
    .home-hero__socials {
      display: none;
    }
}

.home-hero__social {
    width: 4.3rem;
  }

  .home-hero__social-icon-link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid #eee;
    transition: background 0.3s;
  }
//   .home-hero__social-icon-link:hover {
//     background: rgba(116, 206, 120, 0.1);
//   }
//   .home-hero__social-icon-link--bd-none {
//     border-bottom: 0;
//   }
  .home-hero__social-icon {
    width: 100%;
  }

  .home-hero__mouse-scroll-cont {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  @media only screen and (max-width: 37.5em) {
    .home-hero__mouse-scroll-cont {
      display: none;
    }
  }